<div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFill>
    <div fxLayout="column wrap" class="draft-header-padding-top" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" fxLayoutGap="12px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
                <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                    <div fxLayout="row wrap" fxLayoutGap="13px" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
                        <div routerLink='/dashboard/abhijith'>
                            <img imgSrc="Web/Icons/back.svg" class="cursor draft-content-logo">
                        </div>
                        <div class="grey-black-color draft-header-font-size">
                            ARD Service Survey</div>
                    </div>
                </div>
                <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                    <div fxLayout="row wrap" fxLayoutGap="18px" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
                        <div class="abhijith-subheader-font-size">
                            AREA NAME</div>
                        <div class="abhijith-subheader-font-size">
                            Abhijith Motors Pvt.Ltd</div>
                        <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
                            <div class="abhijith-subheader-font-size">
                                DEALER CODE</div>
                            <div class="abhijith-subheader-font-size">
                                #225947</div>
                        </div>
                        <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
                            <div class="abhijith-subheader-font-size">
                                Visit Date</div>
                            <div fxLayout="row wrap" fxLayoutGap="4px" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
                                <div class="abhijith-subheader-font-size">
                                    Active</div>
                                <mat-icon class="service-dateicon">calendar_today</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="draft-grey-line">
            </div>
            <div fxLayout="row wrap" style="background: white;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <div fxLayout="column wrap" fxFlex="20" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                    <mat-card>
                        <mat-card-content></mat-card-content>

                        <mat-card-actions></mat-card-actions>
                    </mat-card>
                </div>
                <div fxLayout="column wrap" fxFlex="80" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                    <div fxLayout="column" class="service-my-table">
                        <table mat-table [dataSource]="setDataSource_1()" class="table-width-fix">

                            <tr mat-row *matRowDef="let row; columns: [&apos;parameter&apos;,&apos;363bbdc0-e286-10f5-1c5f-f7db3c880697&apos;,&apos;actions&apos;,&apos;bdf5f102-2d2e-1220-2687-72b9d9630541&apos;,&apos;9f12bf0e-9485-7130-30a1-50030c20cfcd&apos;];"></tr>

                            <ng-container matColumnDef="parameter">
                                <th mat-header-cell *matHeaderCellDef>PARAMETER</th>
                                <td mat-cell *matCellDef="let table; let i = index;" class="{{table.background}}">{{table.parameter}}</td>
                            </ng-container>

                            <ng-container matColumnDef="363bbdc0-e286-10f5-1c5f-f7db3c880697">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let table; let i = index;" class="{{table.background}}">
                                    <div fxLayout="row wrap" fxLayoutGap="9px" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
                                        <div>
                                            {{table.no}}
                                        </div>
                                        <mat-slide-toggle [required]="false"> </mat-slide-toggle>
                                        <div>
                                            {{table.yes}}
                                        </div>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef>ACTION PLAN/REMARKS (TM)</th>
                                <td mat-cell *matCellDef="let table; let i = index;" class="{{table.background}}">{{table.actions}}</td>
                            </ng-container>

                            <ng-container matColumnDef="bdf5f102-2d2e-1220-2687-72b9d9630541">
                                <th mat-header-cell *matHeaderCellDef>TARGET DATE</th>
                                <td mat-cell *matCellDef="let table; let i = index;" class="{{table.background}}">
                                    <mat-form-field [appearance]="&apos;legacy&apos;">
                                        <input matInput placeholder="Date Picker" [matDatepicker]="picker" [required]="false" [disabled]="false">
                                        <mat-datepicker-toggle matSuffix [for]="picker" disabled="false"></mat-datepicker-toggle>
                                        <mat-datepicker #picker [disabled]="false"></mat-datepicker>

                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="9f12bf0e-9485-7130-30a1-50030c20cfcd">
                                <th mat-header-cell *matHeaderCellDef>DOCUMENTS</th>
                                <td mat-cell *matCellDef="let table; let i = index;" class="{{table.background}}">
                                    <mat-icon class="cursor {{table.color}}">backup</mat-icon>
                                </td>
                            </ng-container>
                        </table>
                    </div>

                    <div fxLayout="column" class="service-my-second-table">
                        <table mat-table [dataSource]="setDataSource_2()" class="table-width-fix">

                            <tr mat-row *matRowDef="let row; columns: [&apos;text&apos;,&apos;e7cfb012-70c5-ca93-69d9-3df5a2311233&apos;];"></tr>

                            <ng-container matColumnDef="text">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let table; let i = index;" class="{{table.color}}">{{table.text}}</td>
                            </ng-container>

                            <ng-container matColumnDef="e7cfb012-70c5-ca93-69d9-3df5a2311233">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let table; let i = index;">
                                    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                                        <div class="{{table.color}} {{table.colorGrey}} {{table.fontSize}}">
                                            {{table.subpara}}
                                        </div>
                                        <div class="{{table.color}}">
                                            {{table.para}}
                                        </div>
                                    </div>
                                </td>
                            </ng-container>
                        </table>
                    </div>
                    <div fxLayout="row wrap" class="service-margin-top-btn" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false"><button mat-raised-button class="service-button-container">Previous</button><button mat-raised-button class="service-button-container" color="warn">Next</button></div>
                </div>
            </div>
        </div>
    </div>
</div>