<div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFill>
  <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" class="toolBarContainer" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" fxFlex="95" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" class="relative" fxFlex="7" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
              <mat-icon class="relative iconSize textColorWhite">menu</mat-icon>
              <mat-icon class="relative iconSize textColorWhite">search</mat-icon>
            </div>
          </div>
          <div fxLayout="column wrap" fxLayoutGap="3px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Icons/hdfc.jpg" class="imgContainer">
            <div class="textColorWhite depositsContainer">
              <span class="depoContainer">DEPOSITS</span>
            </div>
          </div>
          <div fxLayout="column wrap" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
              <div fxLayout="column wrap" class="relative" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <mat-icon style="font-size: 33px;" class="textColorWhite">notifications_none</mat-icon>
                <div class="borderRadius50 badge8Container absolute">
                  <span class="txt8Container relative">8</span>
                </div>
              </div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Icons/dum.jpg" style="height: 40px;  width: 120%;" class="profileContainer borderRadius50"></div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxHide.sm fxHide.xs>
                <div fxLayout="row wrap" fxLayoutGap="12px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                  <div style="font-size: 23px;" class="textColorWhite">
                    Sunil Suryavanshi</div>
                  <mat-icon class="textColorWhite">keyboard_arrow_down</mat-icon>
                </div>
                <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                  <div style="font-size: 11px;" class="textColorWhite">
                    Last Seen 12/10/2020 | 11:45</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" style="background: #f2f5f8; height: 84vh;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" fxFlex="95" fxLayoutGap="14px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" class="first-section-height" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false" fxLayout.sm="column" fxLayout.xs="column">
          <div fxLayout="column wrap" fxFlex="49" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFlex.sm="100" fxFlex.xs="100">
            <mat-card class="card-border-radius card-height-online-transact">
              <mat-card-content>
                <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
                  <div fxLayout="column wrap" fxLayoutGap="12px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                      <div style="font-size: 27px;" class="textColorNavyBlue">
                        Transact</div>
                      <div style="font-size: 52px;     font-weight: 700;" class="textColorDarNavy">
                        Online</div>
                    </div>
                    <div fxLayout="column wrap" fxLayoutGap="9px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                      <div fxLayout="row wrap" fxLayoutGap="12px" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
                        <div class="red-dot">
                        </div>
                        <div class="sub-header-size">
                          Deposit Placement</div>
                      </div>
                      <div fxLayout="row wrap" fxLayoutGap="12px" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
                        <div class="red-dot">
                        </div>
                        <div class="sub-header-size">
                          e - KYC</div>
                      </div>
                      <div fxLayout="row wrap" fxLayoutGap="12px" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
                        <div class="red-dot">
                        </div>
                        <div class="sub-header-size">
                          Premature withdrawal</div>
                      </div>
                      <div fxLayout="row wrap" fxLayoutGap="12px" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
                        <div class="red-dot">
                        </div>
                        <div class="sub-header-size">
                          Loan against deposit</div>
                      </div>
                      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-raised-button class="proceed-btn-border-radius" color="warn">Procee</button></div>
                    </div>
                  </div>
                  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Icons/fam.webp" class="card-fam-Img-size"></div>
                </div>
              </mat-card-content>

              <mat-card-actions></mat-card-actions>
            </mat-card>
          </div>
          <div fxLayout="column wrap" class="position-top-row" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFill>
              <mat-card class="card-border-radius card-width100">
                <mat-card-content>
                  <div fxLayout="row wrap" fxLayoutGap="25px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Icons/calendar.png" class="card-Img-size"></div>
                    <div fxLayout="column wrap" fxFlex="78" fxLayoutGap="15px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                      <div class="card-header-maturities">
                        Maturities</div>
                      <div fxLayout="row wrap" class="card-row-width" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
                        <div fxLayout="column wrap" fxLayoutGap="4px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                          <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
                            <div class="card-calendar-red-color card-calender-font-size">
                              Today:</div>
                            <div class="card-calendar-navyblue-color card-calender-font-size">
                              10</div>
                          </div>
                          <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
                            <div class="card-calendar-red-color card-calender-font-size">
                              Next 3 Day: </div>
                            <div class="card-calendar-navyblue-color card-calender-font-size">
                              12</div>
                          </div>
                        </div>
                        <div class="card-border-right">
                        </div>
                        <div fxLayout="column wrap" fxLayoutGap="4px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                          <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
                            <div class="card-calendar-red-color card-calender-font-size">
                              Next 7 Days:</div>
                            <div class="card-calendar-navyblue-color card-calender-font-size">
                              8</div>
                          </div>
                          <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
                            <div class="card-calendar-red-color card-calender-font-size">
                              Overdue:</div>
                            <div class="card-calendar-navyblue-color card-calender-font-size">
                              5</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-card-content>

                <mat-card-actions></mat-card-actions>
              </mat-card>
            </div>
            <div fxLayout="row wrap" class="position-bottom-row" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
              <div fxLayout="column wrap" fxFlex="49" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <mat-card class="card-border-radius">
                  <mat-card-content>
                    <div fxLayout="row wrap" fxLayoutGap="60px" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
                      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Icons/music.webp" class="card-images-resize"></div>
                      <div fxLayout="column wrap" fxLayoutGap="4px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                        <div class="card-text-font-size-header">
                          RECENT</div>
                        <div class="card-text-font-size-header">
                          DEPOSITS</div>
                      </div>
                    </div>
                  </mat-card-content>

                  <mat-card-actions></mat-card-actions>
                </mat-card>
              </div>
              <div fxLayout="column wrap" fxFlex="49" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <mat-card class="card-border-radius">
                  <mat-card-content>
                    <div fxLayout="row wrap" fxLayoutGap="60px" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
                      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Icons/drawing.png" class="card-images-resize"></div>
                      <div fxLayout="column wrap" fxLayoutGap="4px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                        <div class="card-text-font-size-header">
                          RECENT</div>
                        <div class="card-text-font-size-header">
                          DEPOSITS</div>
                      </div>
                    </div>
                  </mat-card-content>

                  <mat-card-actions></mat-card-actions>
                </mat-card>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row wrap" class="second-section-height" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false" fxLayout.sm="column" fxLayout.xs="column">
          <div fxLayout="column wrap" fxFlex="49" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
              <div fxLayout="column wrap" fxFlex="49" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <mat-card class="card-border-radius">
                  <mat-card-content>
                    <div fxLayout="row wrap" fxLayoutGap="60px" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
                      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Icons/music.webp" class="card-images-resize"></div>
                      <div fxLayout="column wrap" fxLayoutGap="4px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                        <div class="card-text-font-size-header">
                          RECENT</div>
                        <div class="card-text-font-size-header">
                          DEPOSITS</div>
                      </div>
                    </div>
                  </mat-card-content>

                  <mat-card-actions></mat-card-actions>
                </mat-card>
              </div>
              <div fxLayout="column wrap" fxFlex="49" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <mat-card class="card-border-radius">
                  <mat-card-content>
                    <div fxLayout="row wrap" fxLayoutGap="60px" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
                      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Icons/drawing.png" class="card-images-resize"></div>
                      <div fxLayout="column wrap" fxLayoutGap="4px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                        <div class="card-text-font-size-header">
                          RECENT</div>
                        <div class="card-text-font-size-header">
                          DEPOSITS</div>
                      </div>
                    </div>
                  </mat-card-content>

                  <mat-card-actions></mat-card-actions>
                </mat-card>
              </div>
            </div>
          </div>
          <div fxLayout="column wrap" fxFlex="49" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
              <div fxLayout="column wrap" fxFlex="49" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <mat-card class="card-border-radius">
                  <mat-card-content>
                    <div fxLayout="row wrap" fxLayoutGap="60px" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
                      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Icons/music.webp" class="card-images-resize"></div>
                      <div fxLayout="column wrap" fxLayoutGap="4px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                        <div class="card-text-font-size-header">
                          RECENT</div>
                        <div class="card-text-font-size-header">
                          DEPOSITS</div>
                      </div>
                    </div>
                  </mat-card-content>

                  <mat-card-actions></mat-card-actions>
                </mat-card>
              </div>
              <div fxLayout="column wrap" fxFlex="49" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <mat-card class="card-border-radius">
                  <mat-card-content>
                    <div fxLayout="row wrap" fxLayoutGap="60px" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
                      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Icons/drawing.png" class="card-images-resize"></div>
                      <div fxLayout="column wrap" fxLayoutGap="4px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                        <div class="card-text-font-size-header">
                          RECENT</div>
                        <div class="card-text-font-size-header">
                          DEPOSITS</div>
                      </div>
                    </div>
                  </mat-card-content>

                  <mat-card-actions></mat-card-actions>
                </mat-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" class="toolBarContainer" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" fxFlex="40" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" fxLayoutGap="px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" class="border-side footer-background-color" fxFlex="25" fxLayoutGap="3px" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
            <mat-icon>grid_view</mat-icon>
            <div>
              Dashboard</div>
          </div>
          <div fxLayout="column wrap" class="border-side" fxFlex="25" fxLayoutGap="3px" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
            <mat-icon class="footer-text-color">person_outline</mat-icon>
            <div class="footer-text-color">
              My Report</div>
          </div>
          <div fxLayout="column wrap" class="border-side" fxFlex="25" fxLayoutGap="3px" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
            <mat-icon class="footer-text-color">groups</mat-icon>
            <div class="footer-text-color">
              Costomer Inquiry</div>
          </div>
          <div fxLayout="column wrap" class="border-side" fxFlex="25" fxLayoutGap="3px" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
            <mat-icon class="footer-text-color">school</mat-icon>
            <div class="footer-text-color">
              Knowledge Center</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>